@media (min-width : 667px){
/* Reset de base pour les liens */
a {
  text-decoration: none;
  color: white !important;
  
}

a:hover {
  color: grey;
  transform: scale(1.05);
  
}



/* Header général */
header nav.nav-center {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  gap: 1vw;                /* espace entre les liens */
  padding: 0.5% 2%;
  width: fit-content;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5vw;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

header{
  z-index: 3;
  padding: 4vh 3vw;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1vw;
  position:fixed;
  width: 100vw;
  background: linear-gradient(rgba(0,0,0,1) , rgba(0,0,0,0));
  top: 0;
}

.nav-center{
  top: 4.5vh;
}

/* Styles des liens inchangés, mais ajuster si besoin */
header nav.nav-center a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15% 15%;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5vw;
  transition: all 0.5s ease;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3); /* Ombre douce */
}
body{
  background-color: black;
}

header a{ 
  display: flex;       /* Correction : permet un meilleur alignement */
  align-items: center;        /* Centre verticalement le texte */
  justify-content: center;    /* Centre horizontalement */
  
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 5vw;
  text-decoration: none;       /* Pour éviter soulignement par défaut */
  color: inherit;              /* Assure la couleur du texte */
  transition: all 0.5s ease;
  filter: brightness(100%);
  font-size: 0.8vw;
  /* -webkit-animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4s forwards;
  animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4s forwards; */
}

#open-cv{
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  box-shadow: none; /* Ombre douce */
}

/* Liens à droite (Gallery + Projet) */
.nav-right {
  display: flex;
  gap: 20px;
  
}

/* --- Fenêtre Modal --- */
  /* --- Fenêtre Modal --- */
  .fullscreen-cv {
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .cv-content {
    width: 80vw;
    height: 80vh;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .fullscreen-cv iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: block;
  }
  
  .mobile-cv-link {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
    position: absolute;
    top: 45%;
    left: 55%;
    width: 100%;
    transform: translate(-50%,-50%);
    display: block;;
    text-align: center;
    margin-top: 1rem;
    z-index: -1;
  }
  .close-btn {
    font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.accueil-page{
  background-color: black;
  height: 100vh;
 position: fixed;
 z-index: 1;
  
}


@-webkit-keyframes start-back {
  from { filter: brightness(0%); }
  to   { filter: brightness(100%); }
}
@keyframes start-back {
  from { filter: brightness(0%); }
  to   { filter: brightness(100%); }
}

.latest-project video{
  object-fit: cover;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  /* initial state */
filter: brightness(0%);

  /* animation */
  -webkit-animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4.2s forwards;
  animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4.2s forwards;

}

@keyframes ugo {
  0%{opacity : 0;
    top: 15vh;
    left: 24vw;
    font-size: 12vw;
    transform: translateY(100%);}
    50%{
      font-size: 12vw;
    transform: translateY(100%);
      opacity:1;        
      top: 15vh;
      left: 24vw;
    }
    75%{
      font-size: 12vw;
    transform: translateY(100%);
      top: 15vh;
      left: 2vw;
    }

  100%{
    font-size: 1.5vw;
    left: 2vw;
    top: 5vh;
    }
}

@keyframes etude {
  0%{opacity : 0;
    font-size: 3vw;
    transform: translateY(100%);
    top: 55vh;
    left: 28vw;}
    25%{opacity : 0;
      font-size: 3vw;
      transform: translateY(100%);
      top: 55vh;
      left: 28vw;}
    52%{
      font-size: 3vw;
      transform: translateY(100%);
      opacity:1;        
      top: 55vh;
      left: 28vw;}
    77%{
      font-size: 3vw;
      transform: translateY(100%);
      top: 55vh;
      left: 2vw;}

  100%{
    font-size: 0.8vw;
    top: 7.5vh;
    left: 2vw;
  }
}

.ugo{
  font-family: cofo-raffine, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: fixed;
  font-size: 1.5vw;
  left: 2vw;
  top: 5vh;
  color: white;
  z-index: 10;

color: white;
z-index: 10;
opacity : 1;
animation: ugo 5s cubic-bezier(0.45, 0, 0.55, 1) 0s forwards;
}

.etude{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  position: fixed;
font-size: 0.8vw;
top: 7.5vh;
left: 2vw;
color: white;
opacity: 1;
z-index: 10;
animation: etude 5s cubic-bezier(0.45, 0, 0.55, 1) 0s forwards;
}

.portfolio{
  text-align: center;
  scale: 0.5;
  transform: translate(-97%, 100%);
  transform-origin: center;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  position: absolute;
  letter-spacing: 0.05em;
  font-size: 3vw;
  top: 70%;
  left: 50vw;
  z-index: 4;
  filter: brightness(0%);

  /* animation */
  -webkit-animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4.2s forwards;
  animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4.2s forwards;
  width: 100vw;
  
}

.cta-button1 {
  scale: 0.5;
  position: absolute;
  top :40%;
  left: 50%;
  transform: translateX(-90%);
  padding: 1.5% 3%;
  font-size: clamp(2vw, 2vw, 1.5rem);
  font-family: orbitron, sans-serif;
  background: rgba(255, 255, 255, 0.25); /* Couleur de fond transparente */
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5); /* Ombre douce */
  backdrop-filter: blur(5px); /* Effet de flou derrière */
  -webkit-backdrop-filter: blur(5px); /* Compatibilité Safari */
  border: 2px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
  color: white;
  cursor: pointer;
  border-radius: 100px;
  z-index: 4;
  transition: all 0.5s ease;
  filter: brightness(0%);

  /* animation */
  -webkit-animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4.2s forwards;
  animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4.2s forwards;
}
.cta-button1:hover {
  scale: 0.55;
  transform: translateX(-82%);
}

.latest-project {
  top:0vw;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.contact-footer { 
  position: fixed;   /* reste toujours à l’écran */
  top: 4.5vh;          /* distance du haut */
  right: 2vw;        /* distance de la droite */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
  z-index: 10;     /* supérieur à header */
  pointer-events: auto;
}

.contact-left {
  display: flex;
  gap: 1vw;
}

.contact-left a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 1.5vw;
  color: white !important;
  border-radius: 2vw;
  text-decoration: none;
  font-size: 1vw;
  transition: all 0.3s ease;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

.contact-left a:hover {
  transform: scale(1.07);
  text-decoration: underline;
}


}

@media (max-height: 420px) {
  .ugo{
    bottom: 28vh;
  }
  .etude{
    bottom: 36vh;
  }
}

@media (max-width: 666px) {
  /* Corps et liens */
  body{
    background: black;
    height: 100vh;
    overflow: hidden;
    
  }

  a {
    text-decoration: none;
    color: white !important;
  }
  
  a:hover {
    color: grey;
    text-decoration: underline;
  }
  
  a.active {
    background: rgba(255, 255, 255, 0.3); /* Couleur de fond transparente */
    color: rgba(255, 255, 255, 0.6) !important;
  }

  /* Header général */
  header {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%); */
    padding: 3vw 3vw;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
    position:fixed;
    z-index: 10;
    width: 100vw;
  }

  header a{ 
    display: inline-flex;       /* Correction : permet un meilleur alignement */
    align-items: center;        /* Centre verticalement le texte */
    justify-content: center;    /* Centre horizontalement */
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5vw;
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-decoration: none;       /* Pour éviter soulignement par défaut */
    color: inherit;              /* Assure la couleur du texte */
    font-size: 3vw;
  }
  
  /* Navigation */
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Liens à droite (Gallery + Projet) */
  .nav-right {
    display: flex;
    gap: 20px;
    
  }

  .accueil-page{
    background-color: black;
    height: 100vh;
   position: fixed;
   z-index: 1;
    
  }

  .fullscreen-cv {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .cv-content {
    width: 85vw;
    height: 85vh;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .fullscreen-cv iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: block;
  }
  
    .close-btn {
      font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: rgba(255, 255, 255, 0.2);
      border: none;
      color: white;
      font-size: 4vw;
      cursor: pointer;
      border-radius: 50%;
      width: 6vw;
      height: 6vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  

  /* Title */
  .portfolio{
    text-align: center;
    scale: 1;
    transform: translate(-50%, 100%);
    transform-origin: center;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    position: absolute;
    letter-spacing: 0.05em;
    font-size: 4vw;
    top: 30%;
    left: 50vw;
    z-index: 4;
    width: 100vw;
    
  }

  /* CTA Buttons */
  .cta-button1 {
    scale: 1.5;
    position: absolute;
    top :40%;
    left: 50%;
    transform: translateX(-30%);
    padding: 1.5% 3%;
    font-size: clamp(2vw, 2vw, 1.5rem);
    transform-origin: center;
    font-family: orbitron, sans-serif;
    background: rgba(255, 255, 255, 0.25); /* Couleur de fond transparente */
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5); /* Ombre douce */
    backdrop-filter: blur(5px); /* Effet de flou derrière */
    -webkit-backdrop-filter: blur(5px); /* Compatibilité Safari */
    border: 1px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
    color: white;
    cursor: pointer;
    border-radius: 100px;
    z-index: 4;
    transition: all 0.5s ease;
  }
  .cta-button1:hover {
    scale: 1.6;
    transform: translateX(-28%);
  }
  

  .latest-project video{
    object-fit: cover;  /* Couvre entièrement la carte sans déformation */
    display: block;
    opacity: 1;
    max-height: 100vh;
    z-index: 1;
  }

  /* Latest project */
  .latest-project {
    top:0vw;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

  
  }



  /* Footer */
  .contact-footer {
    position: absolute; /* ou static */
    transform: translateY(-350%);
    top: 98vh;
    width: 100vw;
    color: black;
    padding: 1vw;
    gap: 20px; 
     display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
    flex-wrap: wrap;
    z-index: 10;
  }
  
  
  .contact-left {
    padding: 1vw;
    position: absolute;
    flex: 1;
    text-align: left;
    display: flex;
    font-size: 1vw;
  }
  .contact-left p{
    color: white !important;
    margin-right: 2vw;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: rgba(0, 0, 0, 0.15); /* Couleur de fond transparente */
    border: 1px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
    border-radius: 5vw; /* Coins arrondis */
    font-size: 3vw;
  }

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* ou un autre z-index adapté */
  pointer-events: none; /* si tu veux qu'il ne capte pas les clics */
}