@media (min-width : 667px){

/* Reset de base pour les liens */


.container{
  width: 100vw;
  height: 100vh;
overflow: hidden;
}

/* Reset de base */
a {
  text-decoration: none;
  color: white !important;
}








/* --- Fenêtre Modal --- */
.fullscreen-cv {
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cv-content {
  width: 80vw;
  height: 80vh;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

.fullscreen-cv iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: block;
}

.mobile-cv-link {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
  position: absolute;
  top: 45%;
  left: 55%;
  width: 100%;
  transform: translate(-50%,-50%);
  display: block;;
  text-align: center;
  margin-top: 1rem;
  z-index: -1;
}
.close-btn {
  font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-page{
  margin: 0;
  height: 100vh;
  position: relative;
  background-color: black;
  top: 100vh;
z-index: 2;

}

/* MAIN NAV */
.main-nav {
  position: relative;
  top: 4vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  font-size: 1.2vw;
  color: white;
  font-family: orbitron, sans-serif;
  font-weight: 400;
  margin-bottom: 31vw;
  z-index: 0;
  backdrop-filter: blur(100px);
}


.gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0; /* enlever le -5vw */
}

/* CARDS */
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
}

/* Cartes visibles */
.card.left {
  left: 50%;
  transform: translateX(-150%);
  background-color: #777;
  z-index: 2;
  opacity: 1;
  filter: blur(6px);
  /* border-radius: 0.8vw; */
  overflow: hidden;
}

.card.center {
  left: 50%;
  transform: translateX(-50%) scale(1);
  background-color: #bbb;
  opacity: 1;
  z-index: 3;

  cursor: pointer;
  /* border-radius: 0.8vw; */
  overflow: hidden;
}


.card-img:hover{
  opacity: 0.5;
}

.card-title{
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 100;
  height: 100%;
  width: 100%;
  color: white;
  transition: all 0.5s ease;
  
}


.card-title h{
  position: absolute;
  text-align: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.5vw;
  
}



.card.right {
  left: 50%;
  transform: translateX(50%);
  background-color: #777;
  z-index: 2;
  opacity: 1;
  filter: blur(6px);
  /* border-radius: 0.8vw; */
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Couvre entièrement la carte sans déformation */
  display: block;
  filter: brightness(50%);
}

.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* Couvre entièrement la carte sans déformation */
  display: block;
  filter: brightness(50%);
}

.arrow-left,
.arrow-right {
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
background: rgba(255, 255, 255, 0.1); /* Couleur de fond transparente */
border: 1px solid rgba(255, 255, 255, 0.3); /* Bord fin translucide */
backdrop-filter: blur(10px); /* Effet de flou derrière */
border-radius: 25vw;
color: rgba(255, 255, 255, 0.8);
font-size: 2vw;
padding: 0.5vw 1.1vw;
cursor: pointer;
z-index: 8;
position: absolute;
top: 80vh;
transform: translateY(-50%) scale(1);
transition: all 0.5s ease;
}

.arrow-left {
  left: 20%;
}

.arrow-right {
  right: 20%;
}

.arrow-left:hover,
.arrow-right:hover{
  transform: scale(1.2) translateY(-40%);
 ;
}

/* INFO BOX */



/* BIG NUMBER */
.carousel-indicators {
  
  position: absolute;
  top: 88vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
  z-index: 10;
  transition: all 0.5s ease;
}

.carousel-indicators .indicator {
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.carousel-indicators .active {
  width: 16px;
  height: 16px;
  background-color: #ffffff; /* couleur plus foncée ou plus visible */
  transform: translateY(-15%);
}



} 
@media (max-height: 490px) {
  .arrow-left,
.arrow-right {
  transform: scale(1);
}

.carousel-indicators{
  transform: scale(1);
}
}

@media (max-width: 666px) {
  /* Corps et liens */
  .container{
    width: 100vw;
    height: 100vh;
  overflow: hidden;
  }
  
  /* Reset de base */
  a {
    text-decoration: none;
    color: white !important;
  }
  
  
  
  
  
  
  
  
  /* --- Fenêtre Modal --- */
  .fullscreen-cv {
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .cv-content {
    width: 80vw;
    height: 80vh;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .fullscreen-cv iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: block;
  }
  
  .mobile-cv-link {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
    position: absolute;
    top: 45%;
    left: 55%;
    width: 100%;
    transform: translate(-50%,-50%);
    display: block;;
    text-align: center;
    margin-top: 1rem;
    z-index: -1;
  }
  .close-btn {
    font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery-page{
    margin: 0;
    height: 100vh;
    position: absolute;
    background-color: black;
    top: 100vh;
  z-index: 2;
  overflow: hidden;
  
  }
  
  /* MAIN NAV */
  .main-nav {
    position: relative;
    top: 4vw;
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 1vw;
    font-size: 1.2vw;
    color: white;
    font-family: orbitron, sans-serif;
    font-weight: 400;
    margin-bottom: 31vw;
    z-index: 0;
    backdrop-filter: blur(100px);
  }
  
  
  .gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; /* enlever le -5vw */
  }
  
  /* CARDS */
  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
  }
  
  /* Cartes visibles */
  .card.left {
    left: 50%;
    transform: translateX(-150%);
    background-color: #777;
    z-index: 2;
    opacity: 1;
    filter: blur(6px);
    /* border-radius: 0.8vw; */
    overflow: hidden;
  }
  
  .card.center {
    left: 50%;
    transform: translateX(-50%) scale(1);
    background-color: #bbb;
    opacity: 1;
    z-index: 3;
  
    cursor: pointer;
    /* border-radius: 0.8vw; */
    overflow: hidden;
  }
  
  
  .card-img:hover{
    opacity: 0.5;
  }
  
  .card-title{
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 100;
    height: 100%;
    width: 100%;
    color: white;
    transition: all 0.5s ease;
    
  }
  
  
  .card-title h{
    position: absolute;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 4.5vw;
    
  }
  
  
  
  .card.right {
    left: 50%;
    transform: translateX(50%);
    background-color: #777;
    z-index: 2;
    opacity: 1;
    filter: blur(6px);
    /* border-radius: 0.8vw; */
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Couvre entièrement la carte sans déformation */
    display: block;
    filter: brightness(50%);
  }
  
  .card video {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Couvre entièrement la carte sans déformation */
    display: block;
    filter: brightness(50%);
  }
  
  .arrow-left,
  .arrow-right {
    font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 100;
  font-style: normal;
  background: rgba(255, 255, 255, 0.1); /* Couleur de fond transparente */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Bord fin translucide */
  backdrop-filter: blur(10px); /* Effet de flou derrière */
  border-radius: 25vw;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2vw;
  padding: 0.5vw 1.1vw;
  cursor: pointer;
  z-index: 8;
  position: absolute;
  top: 80vh;
  transform: translateY(-50%) scale(3);
  transition: all 0.5s ease;
  }
  
  .arrow-left {
    left: 20%;
  }
  
  .arrow-right {
    right: 20%;
  }
  
  .arrow-left:hover,
  .arrow-right:hover{
    transform: scale(3.6) translateY(-40%);
   ;
  }
  
  /* INFO BOX */
  
  
  
  /* BIG NUMBER */
  .carousel-indicators {
    
    position: absolute;
    top: 85vh;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
    z-index: 10;
    transition: all 0.5s ease;
  }
  
  .carousel-indicators .indicator {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .carousel-indicators .active {
    width: 16px;
    height: 16px;
    background-color: #ffffff; /* couleur plus foncée ou plus visible */
    transform: translateY(-15%);
  }
}


