@media (min-width : 667px){
/* Reset de base pour les liens */
a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  color: grey;
  transform: scale(1.05);
  
}

a.active {
  color: grey !important;
  text-decoration: underline;
}

/* Header général */
header nav.nav-center {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  gap: 1vw;                /* espace entre les liens */
  padding: 0.5% 2%;
  width: fit-content;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5vw;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

header{
  z-index: 3;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1vw;
  position:fixed;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(rgba(0,0,0,1) , rgba(0,0,0,0));
  top: 0;

}

.nav-center{
  top: 4.5vh;
}

/* Styles des liens inchangés, mais ajuster si besoin */
header nav.nav-center a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15% 15%;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5vw;
  transition: all 0.5s ease;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3); /* Ombre douce */
}


header a{ 
  display: flex;       /* Correction : permet un meilleur alignement */
  align-items: center;        /* Centre verticalement le texte */
  justify-content: center;    /* Centre horizontalement */
  
  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 5vw;
  text-decoration: none;       /* Pour éviter soulignement par défaut */
  color: inherit;              /* Assure la couleur du texte */
  transition: all 0.5s ease;
  filter: brightness(100%);
  font-size: 0.8vw;
  /* -webkit-animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4s forwards;
  animation: start-back 1s cubic-bezier(0.45, 0, 0.55, 1) 4s forwards; */
}

#open-cv{
  background: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  box-shadow: none; /* Ombre douce */
}

b {
  font-weight: bold;
}
.ugo{
  font-family: cofo-raffine, sans-serif;
  font-weight: 500;
  font-style: normal;
  position: fixed;
  font-size: 1.5vw;
  left: 2vw;
  top: 5vh;
  color: white;
  z-index: 10;

color: white;
z-index: 10;
opacity : 1;
animation: ugo 5s cubic-bezier(0.45, 0, 0.55, 1) 0s forwards;
}

.etude{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  position: fixed;
font-size: 0.8vw;
top: 7.5vh;
left: 2vw;
color: white;
opacity: 1;
z-index: 10;
animation: etude 5s cubic-bezier(0.45, 0, 0.55, 1) 0s forwards;
}

/* Liens à droite (Gallery + Projet) */
.nav-right {
  display: flex;
  gap: 20px;
  z-index: 13;
}

/* --- Fenêtre Modal --- */
.fullscreen-cv {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cv-content {
  width: 80vw;
  height: 80vh;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

.fullscreen-cv iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: block;
}

.close-btn {
  font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.media-content {
  position: relative;
  width: 90vw;
  height: 90vh;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-content img, .media-content video {
  max-width: 85vw;
  max-height: 85vh;
  object-fit: contain; /* Très important pour que ça rentre dans le cadre sans déformation */
  
}

.close-media {
  font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 3vw;
  width: 3vw;
  background: rgba(0,0,0,0.3);
  border: none;
  color: white;
  font-size: 2.5vw;
  cursor: pointer;
  border-radius: 50%;
}


body {
  margin: 0;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}
.window {
  position: relative;
  border-radius: 1vw;
  margin: 2vw;
  padding: 1vw;
  top: 10vw;
  overflow: hidden;
  margin-left: 17vw;
  margin-right: 17vw ;
  
}

.window p{
  color: white;
  font-family: futura-pt, sans-serif;
font-weight: 100;
font-style: normal;
  font-size: max(20px, 1vw);
  line-height: 1.6;
}

.project-hero {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2vw;
}

.main-nav {
  position: absolute;
  top: 0vw;
  height: 6vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  z-index: 2;
  font-size: 1.2vw;
  color: white;
  font-family: orbitron, sans-serif;
  font-weight: 400;
  margin-bottom: -2vw;
}


.nom{
  top:150%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.5vw;
  white-space: nowrap; /* évite les retours à la ligne involontaires */

  
  backdrop-filter: blur(10px) brightness(90%); /* Effet de flou derrière */
  -webkit-backdrop-filter: blur(10px); /* Compatibilité Safari */
  
  border-radius: 5vw; /* Coins arrondis */
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.nom2{
height: 0;
width: 0;
}

.project-grid {
  column-count: 4; /* ou auto selon la largeur */
  column-gap: 1vw;
}

.project-grid img {
  width: 100%;
  margin-bottom: 1vw;
  break-inside: avoid; /* évite qu’une image soit coupée en deux */
  display: block;
  cursor: pointer;
}

.project-grid video {
  width: 100%;
  margin-bottom: 1vw;
  break-inside: avoid; /* évite qu’une image soit coupée en deux */
  display: block;
  cursor: pointer;
}

:fullscreen img,
:-webkit-full-screen img,
:-moz-full-screen img {
  object-fit: contain;
  width: 100vw;
  height: 100vh;
  background: black;
}

.back-btn a{
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
  background: rgba(255, 255, 255, 0.15); /* Couleur de fond transparente */
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); /* Ombre douce */
  backdrop-filter: blur(5px) brightness(80%); /* Effet de flou derrière */
  -webkit-backdrop-filter: blur(5px); /* Compatibilité Safari */
  border: 2px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
  border-radius: 2vw;
  padding: 0.5vw 1vw;
  text-align: center;
  display: inline-block;
  margin: 4vw;
  margin-top: 2vw;
  font-size: 2vw;
  position: fixed;
  top: 80vh;
  cursor: pointer;
  transition: all 0.5s ease;
}

.next-btn a{
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 100;
font-style: normal;
  background: rgba(255, 255, 255, 0.15); /* Couleur de fond transparente */
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); /* Ombre douce */
  backdrop-filter: blur(5px) brightness(80%); /* Effet de flou derrière */
  -webkit-backdrop-filter: blur(5px) brightness(80%); /* Compatibilité Safari */
  border: 2px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
  border-radius: 2vw;
  padding: 0.5vw 1vw;
  text-align: center;
  display: inline-block;
  margin: 4vw;
  margin-top: 2vw;
  font-size: 2vw;
  position: fixed;
  top: 80vh;
  right: 0vw;
  cursor: pointer;
  transition: all 0.5s ease;
}
.next-btn a:hover{
  scale: 1.1;
}
.back-btn a:hover{
  scale: 1.1;
}

.contact-footer { 
  position: fixed;   /* reste toujours à l’écran */
  top: 4.5vh;          /* distance du haut */
  right: 2vw;        /* distance de la droite */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1vw;
  z-index: 10;     /* supérieur à header */
  pointer-events: auto;
}

.contact-left {
  display: flex;
  gap: 1vw;
}

.contact-left a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8vw 1.5vw;
  color: white !important;
  border-radius: 2vw;
  text-decoration: none;
  font-size: 1vw;
  transition: all 0.3s ease;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

.contact-left a:hover {
  transform: scale(1.07);
  text-decoration: underline;
}

}

@media (max-height: 490px) {
  .window {
    position: relative;
    border-radius: 1vw;
    margin: 1vw;
    margin-bottom: 5vw;
    padding: 1vw;
    top: 8vw;
    overflow: hidden;
  }
  .window p{
    color: white;
    font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-style: normal;
    font-size: 1.5vw;
  }
  
}

@media (max-width: 666px) {
  a {
    text-decoration: none;
    color: white !important;
  }
  
  a:hover {
    color: grey;
    text-decoration: underline;
  }
  
  a.active {
    color: grey !important;
    text-decoration: underline;
  }
  
  /* Header général */
  header {
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%); */
    padding: 3vw 3vw;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    transform: translateY(-20%);
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
    position:fixed;
    z-index: 10;
    width: 100vw;
  }

  header a{ 
    display: inline-flex;       /* Correction : permet un meilleur alignement */
    align-items: center;        /* Centre verticalement le texte */
    justify-content: center;    /* Centre horizontalement */
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5vw;
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-decoration: none;       /* Pour éviter soulignement par défaut */
    color: inherit;              /* Assure la couleur du texte */
    font-size: 3vw;
  }
  
  /* Navigation */
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Liens à droite (Gallery + Projet) */
  .nav-right {
    display: flex;
    gap: 20px;
    
  }
  
  /* --- Fenêtre Modal --- */
/* --- Fenêtre Modal --- */
.fullscreen-cv {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cv-content {
  width: 85vw;
  height: 85vh;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

.fullscreen-cv iframe {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  display: block;
}



  .close-btn {
    font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 4vw;
    cursor: pointer;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav {
    position: absolute;
    opacity: 0;
  }
  
  .media-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .media-content {
    position: relative;
    width: 90vw;
    height: 90vh;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .media-content img, .media-content video {
    max-width: 85vw;
    max-height: 85vh;
    object-fit: contain; /* Très important pour que ça rentre dans le cadre sans déformation */
  }
  
  .close-media {
    font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
  position: absolute;
  top: 1vw;
  right: 1vw;
  height: 5vw;
  width: 5vw;
  background: rgba(0,0,0,0.3);
  border: none;
  color: white;
  font-size: 4vw;
  cursor: pointer;
  border-radius: 50%;
  }
  
  .project-hero {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2vw;
  }

  body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden;
  }
  .window {
    position: relative;
    border-radius: 1vw;
    margin: 3vw;
    margin-bottom: 5vw;
    padding: 1vw;
    top: 13vw;
    overflow: hidden;
  }
  
  .window p{
    color: white;
    font-family: futura-pt, sans-serif;
  font-weight: 100;
  font-style: normal;
    font-size: 2.5vw;
  }
  
  .pp{
    flex: 1.5;
     background: grey;
       aspect-ratio: 1/1;
       overflow: hidden;
  }
  .pp img{
    height: 100%;
    object-fit: cover;  /* Couvre entièrement la carte sans déformation */
    display: block;
    
  }
  
  .nom2{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
    white-space: nowrap;
    margin-bottom: 3%;
  }
  
  
  
  .project-grid {
    column-count: 2; /* ou auto selon la largeur */
    column-gap: 2vw;
  }
  
  .project-grid img {
    width: 100%;
    margin-bottom: 2vw;
    break-inside: avoid; /* évite qu’une image soit coupée en deux */
    display: block;
    cursor: pointer;
  }
  
  .project-grid video {
    width: 100%;
    margin-bottom: 2vw;
    break-inside: avoid; /* évite qu’une image soit coupée en deux */
    display: block;
    cursor: pointer;
  }
  
  :fullscreen img,
  :-webkit-full-screen img,
  :-moz-full-screen img {
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    background: black;
  }

  .back-btn a{
    font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 100;
  font-style: normal;
    background: rgba(255, 255, 255, 0.15); /* Couleur de fond transparente */
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); /* Ombre douce */
    backdrop-filter: blur(5px) brightness(80%); /* Effet de flou derrière */
    -webkit-backdrop-filter: blur(5px); /* Compatibilité Safari */
    border: 2px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
    border-radius: 4vw;
    padding: 1vw 2vw;
    text-align: center;
    display: inline-block;
    margin: 4vw;
    margin-top: 2vw;
    font-size: 4vw;
    position: fixed;
    top: 80vh;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .next-btn a{
    font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 100;
  font-style: normal;
    background: rgba(255, 255, 255, 0.15); /* Couleur de fond transparente */
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1); /* Ombre douce */
    backdrop-filter: blur(5px) brightness(80%); /* Effet de flou derrière */
    -webkit-backdrop-filter: blur(5px) brightness(80%); /* Compatibilité Safari */
    border: 2px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
    border-radius: 4vw;
    padding: 1vw 2vw;
    text-align: center;
    display: inline-block;
    margin: 4vw;
    margin-top: 2vw;
    font-size: 4vw;
    position: fixed;
    top: 80vh;
    right: 0vw;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .contact-footer {
    margin-top:10%;
    margin-bottom:9.2%;
    position: relative;
          bottom: unset;
          width: 100vw;
          color: white;
          padding: 1vw;
          gap: 20px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          font-family: futura-pt, sans-serif;
          font-weight: 400;
          font-style: normal;
            flex-wrap: wrap;
            z-index: 4;
  }
  
  
  .contact-left {
    padding: 1vw;
    position: absolute;
    flex: 1;
    text-align: left;
    display: flex;
    font-size: 1vw;
  }
  
  .contact-left p{
    color: white !important;
    margin-right: 2vw;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: rgba(255, 255, 255, 0.15); /* Couleur de fond transparente */
    border: 1px solid rgba(255, 255, 255, 0.15); /* Bord fin translucide */
    border-radius: 5vw; /* Coins arrondis */
    font-size: 3vw;
  }

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* ou un autre z-index adapté */
  pointer-events: none; /* si tu veux qu'il ne capte pas les clics */
}